@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    color: white;
    background-color:black;

  }
}
@layer components{
  .menuLink{
    @apply cursor-pointer hover:text-[#c5c5c5];
  }
  .tags{
    background-color: #0abade;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 3px 10px;
    display: inline-block;
    color: #fff;
    font-size:12px;
  }
  .tags:last-child{
    margin-right:0 ;
  }
  .tags:nth-child(2){
    background: color #a3a3a3;;
  }
  .tags:nth-child(3){
    background-color: #a55eea;
  }
}